
.btns{
  width: 100%;
  height:400px;

}
.slider200 {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  overflow: hidden;

 
}



.image img {
  width: 100%;
  height: 400px;

}

.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  background: none;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  color: #111111;
  padding: 12px;
  border-radius: 50%;
  z-index: 1;

 
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}



.container-Shop{
  width: 100%;
  height: auto;
  display: flex;
  
}

.left_con{
  width: 25%;
  padding-left: 15px;
  padding-top:15px;
  background-color: #fff;
  /* border: 2px solid black; */
}
.left_con ul li{
list-style: none;
line-height: 17px;
}


.left_con h3{
/* line-height: 20px; */
padding-top: 30px;
}

.left_con ul li:hover{
  color: orange;
  cursor: pointer;
}

.right_con{
  width: 100%;
  padding: 20px;
  height: 1200px;
  background-color: #FED7BA;

}

.shop{
  width:96%;
  padding: 15px;
  background-color: #fff;
  text-align: center;
  font-weight: 800;
  font-size: 23px;
}


.card-shop{
height:94%;
padding-left: 30px;
padding-right: 30px;
  position: relative;
    display: flex;
    /* border: 2px solid rgb(247, 28, 28); */
    
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    gap: 60px;
    row-gap: 10px;
    overflow: hidden;
    overflow-y: scroll;
  


}
.card-shop::-webkit-scrollbar{
  width: 15px;
  border: 2px solid hwb(0 57% 41%);
  background-color:#D9D9D9;
  
}
.card-shop::-webkit-scrollbar-thumb{
background-color: brown;
border-radius: 5px;

}

.card-shop .cards {
    position: relative;
    width: 220px;
    height: 340px;
    margin: 30px 0;
    background-color: #FED7BA;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
      /* border: 2px solid rgb(247, 28, 28); */


    
    
}

.card-shop .cards img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid black;
 
}
.card-shop .cards  h2{
 background-color: #FED7BA;
margin-top: 23px;



 
}
.card-shop .cards .card-content001 p{
  background-color: #D9D9D9;
  margin: 0px;
  padding: 0px;
  
 }

.card-shop .cards .card-content001{
  width: 100%;
  height: 50px;
 
  background-color: #D9D9D9;
  text-align: center;
  font-size: 15px;
  line-height:25px;
  margin-top: 40px;
 
  box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.2);
}

